<div class="main-content">
  <div class="card">
    <div class="card-body">
      <form #userForm="ngForm" (ngSubmit)="userForm.form.valid&& userForm.value.password == userForm.value.confirmPassword && OnSubmit()">
        

        <div class="form-group">
          <label for="password">Password *</label>
          <input type="password" id="password" class="form-control" #password="ngModel" placeholder="Enter password"
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$" name="password"
                 [(ngModel)]="user.password" required />
      
          
          <div class="invalid" *ngIf="userForm.submitted && password.invalid" >
            <div class="error-msg alert alert-danger" *ngIf="password.invalid">
              Password must be a string with minimum length of 7 and maximum of 20 <br />
              Password must have at least one non alphanumeric character. <br />
              Password must have at least one lowercase ('a'-'z'). <br />
              Password must have at least one uppercase ('A'-'Z').
            </div>
            <div class="error-msg alert alert-danger" *ngIf="password.errors.required">
              Password is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password *</label>
          <input type="password" id="confirmPassword" class="form-control" #confirmPassword="ngModel" placeholder="Enter password confirmation"
             name="confirmPassword"
                 [(ngModel)]="user.password_confirmation" required />
      
                 <!-- <div class="error-msg alert alert-danger" *ngIf="userForm.submitted &&confirmPassword.errors.required">
                  Confirm Password required
                </div> -->
          <div class="invalid" *ngIf="userForm.submitted && userForm.value.password != userForm.value.confirmPassword" >
            <div class="error-msg alert alert-danger" >
              Confirm Password doesn't match
            </div>
            
          </div>
        </div>
        
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>